<!-- HEADER -->
<!-- ------ -->
<header class="header">
    <!-- Menu toggle button wrapper -->
    <div class="menu-toggle__wrapper">
        <!-- hamburger icon -->
        <button class="js-menu-show header__menu-toggle"></button>
    </div>
    <!-- Logo wrapper -->
    <div class="logo-main__wrapper">
        <h1 class="logo-main__logo">
            <a href="{{ baseurl }}/">CanarianHoliday.com</a>
        </h1>
    </div>
    <!-- Audio wrapper -->
    <div class="audioPlayer__wrapper"> <!-- mp3_player-wrapper -->
        <div class="audioPlayer__mute-button-wrapper">
            <div id="audioPlayer__mute-button"></div>
            <div class="audioPlayer__noteIcon"></div> <!-- audio-controll-button -->
            <div id="audioPlayer__equalizer-wrapper"> <!--  #mp3_player -->
                <div id="audioPlayer__audioFile-container"></div> <!-- #audio_box -->
                <canvas id="audioPlayer__equalizer"></canvas> <!-- #analyser_render -->
            </div>
        </div> <!-- button-mute -->
    </div>
</header>
